*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: aquamarine;
    text-align: center;
}
/* .win1{
    position: absolute;
    display: none;
    left: 56rem;
    top: 14rem;
    z-index: 2;
}
.win2{
    position: absolute;
    left: 56rem;
    top: 14rem;
    z-index: 2;
    color: rgb(23, 36, 48);
} */
.win1 {
    position: fixed;
    display: none;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 3rem; /* Adjust size as needed */
    color: black; /* You can set a different color for better visibility */
}
.container{
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    background-color: beige;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 4px solid black;
    font-size: 8vmin
}

#reset-btn{
    padding: 0.5em;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.863);
    color: aliceblue;
    border-radius: 0.5rem;
    border: none;
}

.hide{
    filter: blur(5px);
}